<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lol Stat Viewer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body style ='background-color:#091428;'>
  <div class="container-fluid mt-4">
	<h1 style = 'color: #F0E6D2; font-family: Beaufort; font-weight: bold; text-align: center;'> WELCOME TO LOLSV </h1>

    <div class="card" style="background-color: #0A1428; border-top-color: #1E282D;">
      <div class="card-body">
      
        <a href="front.html" class="btn btn-lg	 btn-info mt-3" style = "width: 15%; background-color: #091428; color: #F0E6D2; font-size: 150%">
            Home
        </a>
        <!-- Button to Load Champions -->
        <a type="button" class="btn btn-lg	 btn-info mt-3" style = "width: 15%; background-color: #091428; color: #F0E6D2; font-size: 150% " id="loadChampBtn" data-toggle="modal" data-target="#viewChampionModel">
            Champions
        </a>
        <a type="misc.ejs" class="btn btn-lg	 btn-info mt-3" style = "width: 15%; background-color: #091428; color: #F0E6D2; font-size: 150%">
            Misc
        </a>
        <a type="button" class="btn btn-lg	 btn-info mt-3" style = "width: 15%; background-color: #091428; color: #F0E6D2; font-size: 150%; float: right;">
            Dev Tools
        </a>
      </div>
  
    </div>
    <div style = "width: 700px; height: 250px; margin: auto; margin-top: 10%">
        <h3 style = 'color: #F0E6D2; font-family: Beaufort; font-weight: bold; text-align: center; padding-top: 20px'> Get Skin Metrics</h3>
        <div class = "form-inline" style = "margin-left: 25%;">
            <input type="text" class="form-control col-lg-7" id="champ" placeholder="Enter Champion Name" name="champ">
            <button type="submit" class="btn btn-info" style = "width: 25%; background-color: #091428; color: #F0E6D2;">Submit</button>
        </div>
        
    </div>



    <!-- Modal for Viewing Champions -->
    <div class="modal fade" id="viewChampionModel" tabindex="-1" role="dialog" aria-labelledby="viewChampionModelLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewChampionModelLabel">Champion Records</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Champion</th>
		  <th scope="col"> Class </th>
		  <th scope="col"> Role </th>
		  <th scope="col"> Winrate </th>
                </tr>
              </thead>
              <tbody id="championBody">
                <!-- Champions rows will be inserted here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $(document).ready(function() {
    $('#loadChampBtn').click(function() {
      $.ajax({
        url: '/api/champions',
        method: 'GET',
        success: function(data) {
          var rows = '';
          data.forEach(function(Champion, index) {
            rows += `<tr>
                       <td>${Champion.Champion}</td> // keep as attr name
			<td>${Champion.Class}</td>
			<td>${Champion.Role}</td> 
			<td>${Champion.Winrate}%</td>	
                     </tr>`;
          });
          $('#championBody').html(rows);
        },
        error: function() {
          alert('Failed to load champion data.');
        }
      });
    });
  });

  </script>
</body>
</html>
