<div class="card" style="background-color: #0A1428; border-top-color: #1E282D;">
    <div class="card-body">
    
      <a href="/" type="button" class="btn btn-lg	 btn-info mt-3" style = "width: 15%; background-color: #091428; color: #F0E6D2; font-size: 150%">
          Home
      </a>
      <!-- Button to Load Champions -->
      <a href = "/champion_stats" class="btn btn-lg	 btn-info mt-3" style = "width: 15%; background-color: #091428; color: #F0E6D2; font-size: 150% " id="loadChampBtn" data-toggle="modal" data-target="#viewChampionModel">
          Champions
      </a>
      <a href="/misc" class="btn btn-lg	 btn-info mt-3" style = "width: 15%; background-color: #091428; color: #F0E6D2; font-size: 150%">
          Misc
      </a>
      <a href="/dev_tools" class="btn btn-lg	 btn-info mt-3" style = "width: 15%; background-color: #091428; color: #F0E6D2; font-size: 150%; float: right;">
          Dev Tools
      </a>
    </div>

</div>